
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/* scroll bar width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

/* scroll bar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* scroll bar Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* scroll bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
}

.navbar-laravel {
  background-color: #282828;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-userimage {
	margin-right: 5px;
	border-radius: 50%;
	height: 33px;
	width: 33px;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 1.7em !important;
}

.nav-link {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.card-header {
	background-color: #fff;
	font-weight: bold;
}